
/* :root{
    --primary-color:#000024;
    --Secondary-color:white;
    --four-color:rgb(12, 245, 218);
    --tri-color :rgba(86, 81, 81, 0.997);
 } */
@media (max-width:900px) {
    body{
     width: 100%;
     overflow-x: hidden;
    }
    html{
     width: 100%;
     overflow-x: hidden;
    }
  .navbars{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .navitemss{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    
  }
  .navuperbdylist{
    color: white;
    font-size: 10px;
  }
  .logoImage{
    width: 100px;
    height: 100px;
  }
  .navupperbdy{
    width: 50%;
    flex-direction: column;
    /* align-items: right; */
    justify-content: center;
    border-bottom: none;
    text-align: left;
  }
   .logo{
     justify-content: flex-start;
     margin-left:10px;
   }
   .typing p{
    width: auto;
    font-size: 25px;
   }
   .t1{
    font-size: 30px;
   }
   .typs p{
    font-size: 16px;
   }
   
    .main{
     width: 100%;
    }
    
    .navbars li{
     /* margin-right: 6rem; */
     /* color: var(--Secondary-color); */

    }
    
 /* **************************** */
 .content {
     width: 100%;
    background-position: center;
    background-size: cover;
    height: auto;
 }
 .aboutcontienrsas{
    background-color: rgba(1, 1, 6, 0.958);
    height: 100%;
 }
 .shapesize{
    display: none;
 }
 .content-1 {
   width: 100%;
   background-color:  rgba(-2, -4, 14, 0.958);
   padding: 15px;
   margin: 0;
   height:auto;
   z-index: 0;
 }
 .content-1 h3{
 font-size: 1.4rem;
 }
 
 .content img{
     display: none;
 }
 .content .btn-6{
    width: 100%;
     font-size: 20px;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     margin: 10px 0px;

 }
 
/*  */

#nav{
    display: block;
}
 .nav-ic{
     margin-right: 50px;
     font-size: 30px;
     color: wheat;
     display: flex;
     position: absolute;
     top: 60px;
     right: -15px;
     cursor: pointer;
     font-size: 28px;
     
    
 }
 .i-999{
    position: absolute;
    top: 0px;
    font-size: 22px;
    right: 58px;
}
 .i-990{
    position: absolute;
    top: 0;
    font-size: 30px;
    right: 80px;
}
 .nav-ic .fa-solid{
     padding: 0px 10px;
     display: block;
     color: var(--primary-color);
 }
 .menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--Secondary-color);
    height: 100vh;
    padding: 150px;
    margin: 0;
     
      }
      .navbarmenuItems{
        padding: 10px 20px;
        font-size: 20px;
        width: 130%;
      }
 #close{
     display: block;
     font-size: 45px;
     position: absolute;
     top: 21px;
     left: 50px;
     color: aliceblue;
     cursor: pointer;
 }
 #navbar.show{
    width: 100%;
     display: flex;
     z-index: 1;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
     
 }
 .contain-about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* margin-top: -100px; */
    border-radius: 0;
    padding: 20px;
 }
 .about-col-{
    width: 100%;
    /* margin-left: 45px; */
    /* margin: 0; */
 }
.about-col- img {
  width: 100%;
  height: 100%;
   
}

@keyframes pic1{
    from{
      
        width: 0%;
        height: 0%;
    }to{
        
        width: 95%;
        height: 35rem;
    }
}

.about-col-2{
    width: 90%;
    position: relative;
    /* top: 20rem; */
    left: 0rem;
    padding-bottom: 100px;
   }
   .about-col-2 h1 {
    width: 100%;
    text-align: left;
    font-size: 2.1rem;
    margin-left: 0rem;
  
}
.carousel-inner {
    width: 60%;
    /* height: 50vh; */
    background-color: rgb(1, 4, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* margin-right: 100%; */
    overflow: hidden;
    /* display: none; */
}
.contHide {
    width: 80%;
    margin-right: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: -40%;
    height: auto;
}
.clientMessage{
    font-size: 15px;
}
.contFormCOntainer{
    flex-direction: column;
    padding: 30px;
}
.contformSpace{
    width: 100%;
    height: auto;
    /* padding: 30px; */
}
.b-7{
    width: 100%;
}
.d-block{
    width: 100%;
}
.apppt {
    width: 80%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-direction: column; */
}
.ourTeamsCont {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.sub-contain-1{
    position: relative;
    font-size: 1.2rem;
    width: 100%;
}
.EducationCOnt{
    padding: 0;
}
.EducationHeader{
    padding: 10px;
    margin: 0;
    width: 90%;
        left: 20px;
    }
.educationContainer{
flex-direction: column;
}
.educationBox{
    width: 90%;
}
#Education h1{
    font-size: 4rem;
}
.sc-2{
    margin-left:1rem;
    margin-bottom: 3rem;
    /* font-size: 1.7rem; */
}
.sc-2 p{
    margin-left: 2rem;
    font-size: 1.6rem;
    /* color: aqua; */
}
.sc-2 span{
    margin-left:.5rem;
    color: rgb(236, 151, 14);
    position: relative;
    float:right;
}
.e-1{
    color: #ff9901;
    padding-right:1.8rem;
}
.sc-2 strong{
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
}

#blog h1{
    font-size: 4rem;
    padding-bottom: 2rem;
    text-align: center;

}
.skills{
    width: 100%;
  flex-direction: column;
}
.projectsBoxes{
    width: 90%;
    padding: 0;
    margin: 10px 20px;
}
.b-1{
    width: 90%;
    margin: .5rem;
    height: auto;
    margin-bottom: 2rem;
   
    
    /* box-shadow:  0 0 30px #f2920375; */
  
}
/* @keyframes pic1{
    from{
        left:-400px;
    }to{
        left: 0px;
    }
} */


.pr1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-bottom: -50PX;
   }
   .container-14 {
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 100%;
    /* border: 5px solid #ff9901; */
}
.conct{
    font-size: 15px;
}
.p1 {
    background-color: #ff9901;
    padding: 23px 11px;
    border-radius: 100%;
    color: rgb(2, 2, 2);
    border: 2px solid rgb(174, 160, 160);
    box-shadow: 0 0 40px rgb(223, 220, 220),
    0 0 30px #f4a004;
    cursor: pointer;
    display: none;
}
.p1:hover{
    box-shadow: 0 0 40px rgb(169, 0, 0);box-shadow: 0 0 40px rgb(223, 220, 220);
}
.container-14 .icon .imag {
    position: absolute;
    /* left: -20px; */
    width: 60%;
    height: 5rem;
    /* border-radius: 50%; */
    overflow: hidden;
    /* border: 2px solid#e9e7e4; */
    /* box-shadow: 0 0 4px black, 0 0 26px #ff9901; */
    transform: rotate(calc(360deg/6*var(--i)));
    transform-origin: 14rem;
    z-index: 1;
    /* background-color: #00001A; */
    animation: orbit 50s linear infinite;   
}
.imag img{
    width: 100%;
    height: 100%; 
    object-fit:cover;
    object-position: center;
   
}
.s-1{
    width: 90%;
}
.s-1 h2{
    font-size:2.4rem;
}
.project-22{
    height: auto;
    margin-top: -10px;
}
.project-23 h1{
    font-size: 3rem;
   }
.project-23{
    height: 140rem;
    padding-bottom: 6rem;
   }
   .s-3{
    width: 90%;
}

.s-3:hover{
    transform: scale(1.2);
}
#contect{
    margin-top: -10px;
   height: auto;
   }
   .detail{
    margin: 10px;
    height: auto;
    padding: 20px;
   }
   .form-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 80px;
    background-color: var(--Secondary-color);
   }
  .detail h1{
    font-size: 30px;
    margin-top: 10px;
    color: var(--primary-color);
  }
  .form-cont p{
    font-size: 17px;
    
  }
  .aprachImages{
    width: 30px;
  }
  .len{
    width: 210px;
  }
  p{
    margin: 0;
  }
  .contect-1 h1 {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
  }
  .contect-1 {
    width: 100%;
    height: auto;
    position: relative;
    top: 10px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(15, 14, 14, 0.935),
    0 0 50px rgba(206, 166, 22, 0.517);
}
.text-1 {
  width: 100%;
    background-color: rgba(0, 0, 0, 0.151);
}
.educatorses{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.gmap{
    width: 90%;
}
.sumbit-btn {
   width: 100%;
   margin: 10px 0px;

}
.sumbit-btn:hover{
    background-color: #05053f;
    transition: .4S ease;
}
.footer h1 {
   
    font-size: 1.1rem;
   
  
}
.blog-container-2{
    /* text-align: center; */
    max-width: 500px;
    height: 500px;
    position:relative;
    margin: auto;
   
   
  }
  .blog-container-1{
    /* text-align:left; */
    width: 98%;
    height: 80vh;
    position:relative;
    margin: auto;
  
    
  
  
  }
  .imageGrade{
    width: 100%;
    padding: 50px;
  }
  
 

.ingBorder3{
    height: 30%;
    width: 20px;
    background: linear-gradient(rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    bottom: 0;
    left: 200px;
    /* border-left: 5px solid rgb(251, 97, 2); */
    border-radius: 0px 50px 0px 0px;
}
.grades{
    width: 100%;
    flex-basis: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    background-color: transparent;
    
    

}
.gradeItem{
  object-position: center;
  overflow: hidden;
  object-fit: cover;
}
.gradeImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
    transition: all .5s ease;
    
}
.gradeImage:hover
{
    transform: scale(1.1); 
    /* z-index: 1; */
}
.grade1{
    grid-row: span 1;
    grid-column: span 3;
    margin-top: -10px;
    margin-left: -10px;
    /* margin: 0; */

   
}
.grade2{
    grid-column: span 2;
    /* display: none; */
}
.grade3{
    grid-column: span 2;
    /* margin-left: -90px; */
    margin: 0;
    /* display: none; */
}
.grade5{
    grid-column: span 2;
      /* margin-right: -90px; */
      margin: 0;
}
.grade4{
    grid-column: span 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 10px;
  
}
.uperbtnscrol{
    right: 10px;
    bottom: 10px;
  }
  .uoers{
    font-size: 18px;
    padding: 10px;
  }
.grade10{
    display: block;
    grid-column: span 2;
}
.grade7{
    display: block;
    grid-column: span 2;
}
.nameImage{
    font-size: 10px;
    color: white;
}
.grade6{
    grid-column: span 2;
  
}
.grade8{
    grid-column: span 3;
    margin-bottom: -10px;
    margin-right: -10px;
    /* margin: 0; */

}



/* */
.innerContainer{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--tri-color);
    width: 100px;
    height: 100px;
    border-radius: 0px 0px 0px 100%;
    /* border-left: 20px double rgb(141, 92, 2); */
    box-shadow: 0 0  100px var(--tri-color);
    /* display: none; */
}
.innerContainer1{
    position: absolute;
    bottom: 20px;
    left:20px;
    background-color: var(--tri-color);
    width: 100px;
    height: 100px;
    border-radius: 0px 100% 0px 0px;
    /* border-right: 20px double rgb(4, 4, 81); */
    box-shadow: 20px 0 100px var(--tri-color);
    /* display: none; */
    
}
.ingBorder{
    width: 40%;
    height: 20px;
    background: linear-gradient(to left,rgb(2, 2, 80) , rgb(122, 80, 3));
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 0px 0px 0px 50px;
    /* display: none; */
}
.ingBorder1{
    height: 30%;
    width: 20px;
    /* background-color: red; */
    background: linear-gradient( to bottom,rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 0px 0px 0px 50px;
    /* display: none; */
    
}
.ingBorder2{
    width: 40%;
    height: 20px;
    background: linear-gradient(to left ,rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    bottom: 0;
    left: 10px;
    border-radius: 0px 50px 0px 0px;
    /* display: none; */
}
.ingBorder3{
    height: 30%;
    width: 20px;
    background: linear-gradient(rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    bottom: 0;
    left: 10px;
    /* border-left: 5px solid rgb(251, 97, 2); */
    border-radius: 0px 50px 0px 0px;
    /* display: none; */
}


/*  */
.ingBaner{
    height: 15vh;
    top: 30px;
    
}
.bannerImage{
    height: 15vh;
    background-position: bottom;
  
}
.banner{
    padding-top:30px ;
    height: 20vh;

}
.projectTexts{
    padding: 10px;
}
.ptit{
    font-size: 15px;
}
.projectP{
    font-size: 10px;
}
.projectSlinks{
    margin-top: 20px;
}
.projectdemo{
    font-size: 14px;
    padding: 5px 20px;
}
.fa-github{
    font-size: 20px;
}
.textCodes{
    padding: 0;
}
.technologies{
    font-size: 8px;
}
.researchesAndpublicationCOnatiner{
    width: 100%;
    flex-direction: column;
}
.researchBox{
    width: 90%;
    text-align: left;
}
.researchCertificate{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.researchTitleHeader{
    font-size: 30px;
    padding: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}
.researchDesc{
    font-size: 15px;
  
}
.researchtittle{
    font-size: 25px;
    color: rgb(225, 222, 222);
    font-weight: bold;
    /* text-align: center; */
}

}
 

