
/* :root{
    --primary-color:#000024;
    --Secondary-color:white;
    --four-color:rgb(12, 245, 218);
    --tri-color :rgba(86, 81, 81, 0.997);
 } */
 @media (max-width:1100px) {
    body{
     width: 100%;
     overflow-x: hidden;
    }
    html{
     width: 100%;
     overflow-x: hidden;
    }
    .navbars{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
      }
   .logo{
     margin-left: 5rem;
   }
   .typing p{
    width: auto;
    margin-right:3rem;
   }
    .menu{
     display: none;
    }
    .main{
     width: 100%;
     height: auto;
    }
    
    .navbars li{
     margin-right: 6rem;
     color: var(--Secondary-color);
    }
    
 /* **************************** */
 .content {
     width: 100%;
    background-position: center;
    background-size: cover;
   height: 50vw;
 }
 .aboutcontienrsas{
    background-color: rgba(1, 1, 6, 0.958);
 }
 .shapesize{
    display: none;
 }
 .content-1 {
   width: 100%;
   background-color: transparent;
   padding: 15px;
   margin: 0;
   height: 50vw;
 }
 .content-1 h3{
 font-size: 1.4rem;
 }
 
 .content img{
     display: none;
 }
 .content .btn-6{
     font-size: 20px;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;

 }
 
 
 /* ***************** */

#nav{
    display: block;
}
 .nav-ic{
     margin-right: 50px;
     font-size: 30px;
     color: wheat;
     display: flex;
     position: absolute;
     top: 30px;
     right: -15px;
     cursor: pointer;
     font-size: 28px;
     
    
 }
 .i-999{
    position: absolute;
    top: 0px;
    font-size: 22px;
    right: 58px;
}
 .i-990{
    position: absolute;
    top: 0;
    font-size: 30px;
    right: 80px;
}
 .nav-ic .fa-solid{
     padding: 0px 10px;
     display: block;
     color: var(--primary-color);
 }
 #close{
     display: block;
     font-size: 45px;
     position: absolute;
     top: 21px;
     left: 50px;
     color: aliceblue;
     cursor: pointer;
 }
 #navbar.show{
     display: flex;
     z-index: 1;
     width: 100%;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
 }
 .contain-about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vw;
    justify-content: center;
    /* padding: 20px; */
 }
 .about-col-1{
    width: 100%;
   
 }
.about-col-1 img {
  width: 100%;
  height: 100%;
   
}
@keyframes pic1{
    from{
      
        width: 0%;
        height: 0%;
    }to{
        
        width: 95%;
        height: 35rem;
    }
}

#about{
    margin-top: -1rem;
    height: 80rem;
}
.about-col-2{
    width: 90%;
    position: relative;
    /* top: 20rem; */
    left: 0rem;
    padding-bottom: 100px;
   }
   .about-col-2 h1 {
    text-align: left;
    font-size: 4rem;
    margin-left: 0rem;
  
}
.sub-contain-1{
    position: relative;
    font-size: 1.4rem;
}
#Education{
   width: 100%;
   height: auto;
}
.educationContainer{
    flex-direction: column;
    }
    .educationBox{
        width: 90%;
    }
#Education h1{
    font-size: 4rem;
}
.sc-2{
    margin-left:1rem;
    margin-bottom: 3rem;
   
}
.sc-2 p{
    margin-left: 2rem;
    font-size: 1.6rem;
   
}
.sc-2 span{
    margin-left:.5rem;
    color: rgb(236, 151, 14);
    position: relative;
    float:right;
}
.e-1{
    color: #ff9901;
    padding-right:1.8rem;
}
.sc-2 strong{
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
}
#blog{
    height: 110rem;
    margin-top: -10px;
    
}
#blog h1{
    font-size: 4rem;
    padding-bottom: 2rem;
    text-align: center;

}
.skills{
    width: 100%;
   /* padding-bottom: 10rem; */
   /* margin-bottom: 6rem; */
    left: 0;
}
.b-1{
    width: 40%;
    margin: .5rem;
    height: 28rem;
    margin-bottom: 2rem;
   
    
    /* box-shadow:  0 0 30px #f2920375; */
  
}
/* @keyframes pic1{
    from{
        left:-400px;
    }to{
        left: 0px;
    }
} */


.pr1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    height: 50vh;
    padding-bottom: -50PX;
   }
   .container-14 {
    position: relative;
    /* left: 4.1rem; */
    top: -8rem;
    width: 23.5rem;
    height: 25rem;
    border-radius: 100%;
    border: 5px solid #ff9901;
}
.p1 {
    background-color: #ff9901;
    padding: 23px 11px;
    border-radius: 100%;
    color: rgb(2, 2, 2);
    border: 2px solid rgb(174, 160, 160);
    box-shadow: 0 0 40px rgb(223, 220, 220),
    0 0 30px #f4a004;
    cursor: pointer;
}
.p1:hover{
    box-shadow: 0 0 40px rgb(169, 0, 0);box-shadow: 0 0 40px rgb(223, 220, 220);
}
.container-14 .icon .imag {
    position: absolute;
    /* left: -50px; */
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid#e9e7e4;
    box-shadow: 0 0 4px black, 0 0 26px #ff9901;
    transform: rotate(calc(360deg/6*var(--i)));
    transform-origin: 15rem;
    z-index: 1;
    /* background-color: #00001A; */
    animation: orbit 50s linear infinite;
}
.container-14 .icon .imag img{
    position:relative;
     left: 0;
    right:0;
    width: 70px;
    height: 70px; 
    object-fit:cover;
   
}
.s-1{
    width: 90%;
}
.s-1 h2{
    font-size:2.4rem;
}
.project-22{
    height: auto;
    margin-top: -10px;
}
.project-23 h1{
    font-size: 3rem;
   }
.project-23{
    height: 140rem;
    padding-bottom: 6rem;
   }
   .s-3{
    width: 90%;
}

.s-3:hover{
    transform: scale(1.2);
}
#contect{
    margin-top: -10px;
   height: auto;

   }
   .form-cont{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-color: var(--Secondary-color);
   
   }
  .detail h1{
    font-size: 50px;
    margin-top: -60px;
  }
  .form-cont p{
    font-size: 20px;
    
  }
  .len{
    width: 300px;
  }
  .contect-1 h1 {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
  }
  .contect-1 {
       width: 85%;
    height: auto;
    position: relative;
    top: 10px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(15, 14, 14, 0.935),
    0 0 50px rgba(206, 166, 22, 0.517);
}
.text-1 {
  
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.151);
  
}
.educatorses{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.sumbit-btn {
    width: 100%;
    margin: 20px 0px;
    

}
.sumbit-btn:hover{
    background-color: #05053f;
    transition: .4S ease;
}
.footer h1 {
   
    font-size: 1.2rem;
   
  
}
.blog-container-2{
    /* text-align: center; */
    max-width: 500px;
    height: 500px;
    position:relative;
    margin: auto;
   
   
  }
  .uperbtnscrol{
    right: 10px;
    bottom: 10px;
  }
  .uoers{
    font-size: 18px;
    padding: 10px;
  }
  .blog-container-1{
    /* text-align:left; */
    width: 98%;
    height: 80vh;
    position:relative;
    margin: auto;
  
    
  
  
  }
   
}
 

