@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Bungee+Spice&family=Dancing+Script&family=Fredericka+the+Great&family=Lobster&family=Oleo+Script+Swash+Caps&family=Roboto+Slab&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Bungee+Spice&family=Calistoga&family=Caveat&family=Dancing+Script&family=Fredericka+the+Great&family=Kalam:wght@400;700&family=Kaushan+Script&family=Lobster&family=Madimi+One&family=Oleo+Script+Swash+Caps&family=Roboto+Slab&family=Shadows+Into+Light&display=swap');


/*
font-family: 'Baloo Bhai 2', cursive;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Bungee Spice', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Shadows Into Light', cursive;
 font-family: "Caveat", cursive;
 font-family: "Kalam", cursive;
 */

:root {
    --primary-color: white;
    --Secondary-color: rgba(0, 0, 16, 0.949);
    /* --Secondary-color: #0e0d0df8; */
    --four-color: rgb(12, 245, 218);
    --tri-color: #d8b80677;
    --textColors:rgb(162, 160, 160);
}
.clientNames{
    color: rgb(100, 99, 99);
    font-size: 14px;
}
.dark-them {
    --primary-color: rgba(0, 1, 16, 0.949);
    --four-color: #D8B706;
    --Secondary-color: rgb(255, 255, 255);
    --tri-color: rgba(49, 41, 41, 0.334);
    --textColors:black;
}

.i-999 {
    position: absolute;
    right: 100px;
    top: 18px;
    width: 30px;
    border-radius: 87px;
}

.i-990 {
    display: none;
    padding-left: 100px;
    color: var(--primary-color);
    font-size: 25px;
    position: absolute;
    right: 150px;
    top: 30px;
}

.moodon {
    display: block;
}

.moodoff {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* git  */
.t1{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typings 4.5s steps(50, end),
        blink-caret .5s step-start infinite;
    color: #f2bf06;
    font-weight: 1000;
    text-align: left;
    /* border-right: 7px solid orange; */
    font-size: 40px;
}
.t11{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    
}
.namasta{
    font-size: 40px;
    font-weight: 1000;
    font-family: 'Shadows Into Light', cursive; 
    /* padding: 40px; */
   
}
.welcomemessagew{
    font-size: 20px;
}

@keyframes typings {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    100% {
        border-color: orange;
    }
}




/* dfhfkldsjnfgklsdjnflksdjflkjsdmklfjmdslkfmlsdkjmflksdmjfkijsdnf */
.main {
    width: 100%;
    height: auto;
    background-color: #000009b3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--Secondary-color); */
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 1; */
}



.nav-ic {
    display: block;

}

#nav {
    display: none;
}

#close {
    display: none;
}


.navbars {
   background-color: var(--Secondary-color);
   height: 150px;
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
 border-bottom: 0.4px solid var(--tri-color);
 width: 90%;
}
.navitemss{
    width: 90%;
    /* height: 10px; */
}
.navupperbdy{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 166, 0, 0.438);
    margin-right: 100px;
    height: 50px;
}
.navuperbdylist{
    color: white;
    padding: 5px 10px;
    font-size: 14px;
}
.menu{
    display: flex;
    flex: 3;
    justify-content: flex-end;
    padding-right: 60px;
    
}
.navbars li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 1.3rem;
    transition: all 0.5s ease;
}

.navbars li a {
    text-decoration: none;
    margin: .6rem;
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    font-family: 'Roboto Slab', serif;

}

/*...........logo styl */

.navbars li a::after {
    content: " ";
    width: 0%;
    height: .1rem;
    position: absolute;
    left: 0;
    bottom: -.1rem;
    background-color: #ff9901;
    transition: all 0.4s;
}
.navCObtainer{
    background-color: rgb(1, 1, 16);
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid orange;
   
  
}
.navbars li a:hover,
.navbars li a.active {
    color: #ff9901;
    transition: all 0.4s;
}

.navbars li a.active::after,
.navbars li a:hover::after {
    width: 80%;

}


/*..........logo styl.........*/
.logo {
    flex: 1;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.logoImage{
  width: 200px;
height: 150px;
object-fit: cover;
padding: 10px;
border-radius: 100%;
}

.logo span {
    color: #D8B706;

}


/*...........image and content styl.........*/
.content {
   display: flex;
   background-size: cover;
   background-position:calc(400px) ;
 width: 100%;
 flex-direction: column;
 
 /* position: relative; */
 overflow: hidden;
}

.text-cont-1{
    width: 50%;
    background-color: #D8B706;
}
.content-1 {
    padding: 40px;
    position: relative;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* z-index: 99; */
    background-color:rgba(0, 0, 0, 0.111);
     /* padding: 40px; */
   height: 100vh;
   justify-content: center;
 align-items: center;
 text-align: center;
 /* padding-top: 100px; */
}

.shapesize{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    /* background-color: black; */
    background-image: url(./image/b2.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
    /* right: -299px; */
}

.cont-66 {
    color: #f7a009;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 100;
    font-size: 90px;
    font-family: fantasy;
}
.fa-hashtag{
    font-size: 60px;
    padding: 5px;
    margin-left: -40px;
}

.typ p {
        font-size: 1.4rem;
        color: var(--primary-color);
        text-indent: 2em;
       z-index: -1;
    }


.btn-6 {
    color: var(--primary-color);
    background-color: #ff9901;
    font-size: 1.2re, ;
    width: 15rem;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 1.2rem;
    /* margin: 2rem 0px; */

}
.btndiv{
    padding: 40px 0px;
}

.btn-6 a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn-6:hover {
    background-color: rgb(1, 155, 155);
    color: #ff9901;
    transition: 0.5s;
    font-weight: 600;
}
.imageContainer{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    /* box-shadow: -20px -40px 40px  var(--tri-color); */
    height: 70vh;
    object-fit: cover;
    border-radius: 100% 100% 0px 0px;
    padding-bottom: 50px;
  
}
.imageContainer img {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    /* z-index: 999; */
}

img:hover {
    cursor: pointer;

}

/*...........about and content styl.........*/
#about {
  position: relative;
display: flex;
/* justify-content: center; */
flex-direction: column;
/* align-items: center; */
background-color: rgb(1, 1, 18);
}
.useerCEO{
    /* margin: 0; */
    /* margin-left: -70px; */
    color: rgb(255, 149, 0);
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.userImagesCol{
    width: 60%;
}
.ourTeamsCont{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
.devel{
    padding-top: 20px;
    color: white;
}
.devel1{
    color: rgb(132, 131, 130);
}
.carousel-inner{
    width: 60%;
    height: 100vh;
    background-color: rgb(1, 4, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* margin-right: 100%; */
}
.contHide{
    width: 50%;
    margin-right: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    position: relative;
    left: -25%;
    height: 40vh;
}
.underCont{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 40px;
}
.clientMessage{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    text-align: justify;
    padding: 10px;
}
.useerCE{
    color: rgb(255, 128, 0);
}
.clientName{
    color: rgb(203, 201, 201);
}
.d-block{
    width: 30%;
    /* height: 35vh; */
    /* border-radius: 100%; */
    object-fit: cover;
    padding: 20px;
}
.contain-about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0px 0px 20px orange; */
    background-color: var(--Secondary-color);
    padding: 50px;
    border-radius: 0px 0px 20px 20px;
    /* z-index: 1; */
}
.aboutMAinCOntainer{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.507); */
    position: absolute;
    top: 0;
    left: 0;
}

.about-col-1 p {
    border: .7rem solid var(--textColors);
    margin: 1.3rem;
    font-size: 2rem;
   

}
.about-col-1{
    width: 40%;
    margin-top: 40px;
    background-color: transparent;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 -10px blue; */
    /* box-shadow: rgba(211, 211, 218, 0.25) 0px 30px 60px -12px inset, rgba(240, 237, 237, 0.885) 0px 18px 36px -18px inset; */
}
.about-col-{
    /* width: 40%; */
    margin-top: 40px;
    background-color: transparent;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 -10px blue; */
    /* box-shadow: rgba(211, 211, 218, 0.25) 0px 30px 60px -12px inset, rgba(240, 237, 237, 0.885) 0px 18px 36px -18px inset; */
}

.about-col-2 {
    width: 50%;
}

.about-col-2 span {
    color: #f3b109;
}

.about-col-2 h1 {
    margin: 1rem 2rem;
    font-size: 3rem;
    margin-top: 4rem;

}



.about-col-1 img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    
}



.about-col-1:hover {
    transform: translateY(20px);
    transition: all .4s;
}

.sub-contain-1 {
    color: var(--primary-color);
    font-size: 1.3rem;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    /* font-family: 'Lucida Sans',font-family: 'Lobster', cursive; 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    width: 90%;
    text-align:justify;
}

.sub-contain-2 {
    display: block;
    /* margin: 2rem 1.6rem; */
}

.sub-link {
    color: var(--primary-color);
    padding: -1rem 20rem;
    cursor: pointer;
    margin: 20rem;
    font-size: 25rem;
    position: relative;

}

.active-link {
    border-bottom: 2rem solid orangered;

}

.sub-link::after {
    content: " ";
    background-color: rgb(244, 11, 11);
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0;
    bottom: -6rem;
    transition: all 0.3s ease;

}

#Education {
    width: 100%;
    height: auto;
    background-color: var(--Secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: none;
    /* padding: 10px; */
    
}
.EducationCOnt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Secondary-color);
    padding:100px 0px;
}
.EducationHeader{
    width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
    /* background-color: var(--Secondary-color); */
    background-color: #f06e0a;
    position: relative;
    left: 25%;
    margin: 50px;
}
.educationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction: column; */
    /* background-color: var(--Secondary-color); */
}
.educationBox{
    width: 30%;
    background-color: var(--Secondary-color);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    flex-direction: column;
    padding-bottom: 20px;
    transition: all .5s ease;
    box-shadow: 0 0 20px var(--tri-color);
}
.educationBox:hover{
    background-color:#ff9901;
    color: black;
}
.educationText{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.educationElement{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.eduLogo{
    font-size: 100px;
    color: var(--textColors);
}
.educationTittle{
    padding: 5px;
    color: var(--primary-color);
}

.eduTittle{
    font-size: 23px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}
.educationDate{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}



.imag-dc {
    height: 350rem;
    width: 28%;
    margin: 30rem;
}

.blog-botton {
    text-align: center;
    font-size: 30rem;
    position: relative;
    left: 40%;
    margin: 30rem;
    padding: 10rem 20rem;
    background-color: brown;
    border: none;
    border-radius: 10rem;
}

.imag-1 {
    width: 25%;
    margin: 10rem 30rem;
    margin-top: 50rem;
    border-radius: 20rem;
    transition: all 0.4s;
    border: none;
    box-shadow: 10px 20px 15px var(--primary-color);

}

.imag-1:hover {
    border: 1rem solid red;

}

.img-cont-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#blog {
    width: 100%;
    background-color: var(--Secondary-color);
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
    /* display: none; */
}

/* ***************************************** */
.consLogo{
    width: 100px;
    padding: 10px;
}
.slikksAll{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Secondary-color);
    padding-bottom: 100px;
}
.consIdet{
    width: 90%;


}
.conItems{
    color: rgb(223, 221, 221);
}
.conImageLogo{
    width: 40px;
    padding: 5px;
}
.skills {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--primary-color);
    background-color: var(--Secondary-color);
}

.skills h1 {
    text-align: center;
}

.skills h2 {
    color: var(--primary-color);
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    /* background-color: white; */
}

.card img {
    color: var(--primary-color);
}

.card-img-top {
    height: 30vh;

}

.p-1 img {
    width: 100%;
    height: 30vh;

}
.aprachImage{
    width: 60%;
    /* margin-left: 40px; */
}
.aprachImages{
    width: 9%;
    padding-left: 10px;
}
.aproachText{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.apppt{
    width: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    >span{
        color: white;
        margin-left: 10px;
    }
}

.b-1 {
    width: 26%;
    margin: 10px;
    background-color: var(--Secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px var(--tri-color);
    padding: 20px;
    min-height: 40vh;

}

#i-2 {
    display: none;
}

.p-1:hover {
    display: block;
}

/* .p-1 h3{
    position: absolute;
    text-align: center;
    bottom: 0;
    color: #ff9901;
    left: 10%;
} */
/* ***************************************** */

.lin1-1 {
    height: 3rem;
    width: 86%;
    margin-left: 100rem;
    background-color: red;
    border: red;

}

.i-1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    
}

.b-1 h2 {
    color: #ff9901;
    padding: 0rem .7rem;
}

.b-1 p {
    font-size: 1rem;
    color: rgb(232, 230, 230);
    /* padding: 1rem; */
    text-align: left;
    padding-left: 1.3rem;
}
/* 
.b-1 span {
    color: #ff9901;
    font-family: 'Baloo Bhaina 2', cursive;

} */

.b-1:hover {
    /* background-color: #ff9901; */
    /* color:#00001A; */
    box-shadow: 0 0 2.5rem #ff9901;
    transition: 0.5s ease-out;
    border-radius: 0rem;
    transform: translateY(20px);

}

#contect {
    background-color: var(--Secondary-color);
    width: 100%;
    height: auto;

}

.form-cont {
    display: flex;
    justify-content: space-between;
    background-color: var(--Secondary-color);
    padding: 100px;

}

.detail h1 {
    color: #ff9901;
    font-size: 3rem;
    font-weight: 600;
}

.detail {
    color: var(--primary-color);
    /* margin: 4rem 6rem; */
    /* line-height: 3rem; */
    font-size: 1.5rem;
}

.links .icon-2:hover {
    background-color: transparent;
    border-radius: 1.5rem;
    color: rgb(255, 243, 7);

}

.icon-2 {
    font-size: 1.7rem;
    color: #8d918f;
    padding: 0;
    box-shadow: 0 0 20rem #f3b109;
    border-radius: 50%;

}
.ic3{
    padding:5px 10px;
    border-radius: 6px;
}
.ic3:hover{
    background-color: rgb(73, 71, 71);
    color: blue;
}

.contect-1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 60%;
    height: 100%;
    /* box-shadow: 0 0 2rem var(--tri-color); */
    /* background-color: rgb(5, 2, 19); */
    padding: 30px;
    /* display: flex; */

}
.text-1:focus{
    outline: none;
    
}

.contect-1 h1 {
    padding: 1.3rem;
}

.text-1 {
    width: 40%;
   padding: 10px 20px;
   margin: 5px;
   background-color: transparent;
    /* border-radius: 1rem; */
    border: none;
    border: 0.4px solid #ff99016b;
    color: white;

}

.contect-0 h1 {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.6rem;
    padding-top: 3rem;
}
.textmess{
    width: 82%;
}

.sumbit-btn {
    background-color: var(--Secondary-color);
    background-color: #ff9901;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 20px;
    width: 82%;

}

.sumbit-btn:hover {
    background-color: blue;
    transition: .4s ease;
}

.len {
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 40%;

}
.flme{
    color: var(--primary-color);
}
#banner{
    width: 100%;
    height: auto;
    background-color: var(--Secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-color: var(--Secondary-color);
    width: 100%;
    height: 70vh;
    /* margin-top: 100px; */
    position: relative;
    padding-top: 100px;
   
}
.bannerImage{
    width: 100%;
    height: 60vh;
    background-image: url('../image/w3.png');
    background-position: bottom;
    background-size: cover;
}
.imagefarmes{
    width: 80%;
}
.ingBaner{
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.799);
    position: absolute;
    top: 100px;
    left: 0;
    /* z-index: 99; */
}
.links h3 {
    color: var(--tri-color);
    margin: .9rem 0;
    font-size: 2rem;
}

.footer {
    background-color: var(--Secondary-color);
    width: 100%;
    position: relative;

}
.footerContainer{
    background-color: var(--Secondary-color);
    border-top: 1px solid var(--tri-color);
    width: 100%;
}
.uperbtnscrol{
    position: fixed;
    bottom: 0;
    right: 100px;
   /* z-index: 1; */
}
.uoers{
    font-size: 30px;
    background-color: var(--Secondary-color);
    z-index: 999;
    cursor: pointer;
    text-decoration: none;
    z-index: 999;
}

.footer h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1rem;
    padding: 1rem;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-part {
    border: .8rem solid red;
}

/* ************************************************ */
/* ************************************************ */
.pr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Secondary-color);
    /* background-image: url('../image/prabin-1.jpg'); */
    background-image: url('../image/b3.jpg');
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
    /* padding-top: 150px; */
    /* padding-bottom: 150px; */
    margin-top: -1rem;

position: relative;

}
.pr2321{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   background-color: rgba(0, 0, 0, 0.91);
    
}

.container-14 {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 100%;
    /* border: 5px solid #ff9901; */

}

.container-14 .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    /* border-bottom: 3px solid rgb(255, 145, 0); */
   
}

.container-14 .icon .imag {
    position: absolute;
    left: -50px;
    width: 200px;
    height: 100px;
    /* border-radius: 50%; */
    overflow: hidden;
    /* border: 2px solid blanchedalmond; */
    /* box-shadow: 0 0 4px var(--tri-color),
        0 0 6px white; */
    transform: rotate(calc(360deg/6*var(--i)));
    transform-origin: 300px;
    z-index: 1;
    background-color: var(--Secondary-color);

    animation: orbit 50s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.668);
}

.container-14 .icon .imag img {
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    /* height: 80px; */
    object-fit: cover;
    object-position: center;

}
.conct{
    color: rgb(255, 132, 0);
    font-size: 20px;
}

.p1 {
    background-color: var(--Secondary-color);
    /* padding: 60px 40px; */
    border-radius: 100%;
    color: var(--primary-color);
    border: 2px solid blanchedalmond;
    cursor: pointer;
    width: 30%;
}

.p1 img{
    width: 100%;
    border-radius: 100%;
}
.container-14 .icon .imag:hover {
    box-shadow: 0 0 30px #f3b109;
    transition: 0.5s ease;
}

.p1:hover {
    box-shadow: 0 0 30px #f21606;
    transition: 0.5s ease;
    background-color: #f3b109;
    background-color: var(--Secondary-color);
}

@keyframes orbit {
    100% {
        rotate: 2turn;
    }
}

/* ************************************************ */
.project-22 {
    background-color: var(--Secondary-color);
    width: 100%;
    height: 100%; 
    display: none;
}

.logoProject{
    font-size: 100px;
    color: var(--primary-color);
}
.project-23 {
    height: 80rem;

}
.fa-github{
    font-size: 30px;
}

.projectsBoxes {
    box-shadow: 0 0 20px #f29203d4;
    width: 40%;
    height: auto;
    padding-bottom: .3rem;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
.logoProjects{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
   
}
.textCodes{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}
.logosde{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logosPro{
    font-size: 70px;
    text-align: center;
    color: var(--tri-color);
}
.technologies{
    font-size: 12px;
    color: var(--textColors);
}
.projectTexts{
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    border-right: 1px solid var(--tri-color);
}

.projectP{
    text-align: left;
    color: var(--textColors);
}
.projectdemo{
    font-size: 20px;
    background-color: var(--tri-color);
    color: white;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    transition: all .5s ease;
}
.projectdemo:hover{
    background-color: blue;
}
.ptit{
    text-decoration: underline;
    color: var(--textColors);
    font-size: 25px;
    font-weight: 500;
    
}
.s-1{
    color: var(--tri-color);
}

.s-3 {

    width: 35rem;
    margin: 1rem;
}


/* ************************************************ */
.imags {
    width: 100%;
    height: 100%;
}

.imags img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    top: -1rem;
}

.imags.click {
    transform: scale(2.5);
    transition: 0.5s ease;
    z-index: 1;
}

/* ************************************************ */
/* imaghe container  */
#blogs{
    background-color: var(--Secondary-color);
    width: 100%;
    height: auto;
    padding-bottom:10rem ;

}
.blog-container{
    position: relative;
}
.blog-container-1{
  /* text-align:left; */
 width: 70%;
 height: 90vh;
  position:relative;
  margin: auto;

  


}
.blog-container h1{
    font-size: 3rem;
    text-align: center;
}
.blog-box.box-1{
    display: block;
    object-fit: cover;
    object-position: center;
   
    
    
  
    /* justify-content:space-evenly; */

}

.blog-box {
    width: 100%;
    height: 100%;
}
.g12{
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.blog-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.blog-container-2{
    /* text-align: center; */
    max-width: 1000px;
    height: 1000px;
    position:relative;
    margin: auto;
   
   
  }
  .box-1 img{
    width: 100%;
    max-height: 1000px;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
  .box-ami{
    animation-name: box-22;
    animation-duration: 4s;
  }

  @keyframes box-22{
    from{opacity: .2;}
    to{opacity: 1;}
  }
#imageGrades{
    width: 100%;
    height: 100%;
    background-color: var(--Secondary-color);
    /* padding: 100px; */
}

.imageGrade{
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--Secondary-color);
    padding: 100px;
   border-top-width: 50%;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.innerContainer{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--tri-color);
    width: 100px;
    height: 100px;
    border-radius: 0px 0px 0px 100%;
    /* border-left: 20px double rgb(141, 92, 2); */
    box-shadow: 0 0  100px var(--tri-color);
}
.innerContainer1{
    position: absolute;
    bottom: 20px;
    left:20px;
    background-color: var(--tri-color);
    width: 100px;
    height: 100px;
    border-radius: 0px 100% 0px 0px;
    /* border-right: 20px double rgb(4, 4, 81); */
    box-shadow: 20px 0 100px var(--tri-color);
    
}
.uperbtnscrol{
    right: 10px;
    bottom: 10px;
  }
.ingBorder{
    width: 20%;
    height: 20px;
    background: linear-gradient(to left,rgb(2, 2, 80) , rgb(122, 80, 3));
    position: absolute;
    top: 0;
    right: 200px;
    border-radius: 0px 0px 0px 50px;
}
.ingBorder1{
    height: 30%;
    width: 20px;
    /* background-color: red; */
    background: linear-gradient( to bottom,rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    top: 20px;
    right: 200px;
    border-radius: 0px 0px 0px 50px;
    
}
.ingBorder2{
    width: 20%;
    height: 20px;
    background: linear-gradient(to left ,rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    bottom: 0;
    left: 200px;
    border-radius: 0px 50px 0px 0px;
}
.ingBorder3{
    height: 30%;
    width: 20px;
    background: linear-gradient(rgb(2, 2, 80), rgb(122, 80, 3));
    position: absolute;
    bottom: 0;
    left: 200px;
    /* border-left: 5px solid rgb(251, 97, 2); */
    border-radius: 0px 50px 0px 0px;
}
.grades{
    width: 50%;
    flex-basis: 50%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    background-color: transparent;
    
    

}
.gradeItem{
  object-position: center;
  overflow: hidden;
}
.gradeImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
    transition: all .5s ease;
    
}
.gradeImage:hover
{
    transform: scale(1.1); 
    /* z-index: 1; */
}
.grade1{
    grid-row: span 1;
    grid-column: span 3;
    margin-top: -90px;
    margin-left: -90px;
   
}
.grade2{
    grid-column: span 2;
}
.grade3{
    grid-column: span 2;
    margin-left: -90px;
}
.grade5{
    grid-column: span 2;
      margin-right: -90px;
}
.grade4{
    grid-column: span 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
  
}
.nameImage{
    font-size: 20px;
    color: white;
}
.grade6{
    grid-column: span 2;
    /* margin: 20px; */
}
.grade8{
    grid-column: span 3;
    margin-bottom: -90px;
    margin-right: -90px;

}
.thankuMessage{
    width: 100%;
    height: auto;
    padding: 40px;
    text-align: center;
    background-color: var(--Secondary-color);
    text-align: left;
    display: flex;
    justify-content: center;
    
}

.thankumsh{
    background-color: rgba(255, 132, 0, 0.421);
    width: 90%;
    color: rgb(175, 170, 170);
    padding: 50px;
    text-align: justify;

}
.researches{
    width: 100%;
    text-align: center;
    background-color: var(--Secondary-color);

}
#ResearchAndPublication{
    width: 100%;
    background-color: var(--Secondary-color);
}
.researchesAndpublicationCOnatiner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.researchBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
}
.researchCertificate{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
}
.researchImage{
    width: 100%;
    height: 100%;
    object-fit: cover;


}
.researchtittle{
    font-size: 30px;
    color: rgb(225, 222, 222);
    font-weight: bold;
}
.researchDesc{
    text-align: left;
    color: rgb(135, 132, 132);
    font-size: 17px;
    padding: 5px    ;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Kalam", cursive;
    
}
.researchDate{
    padding: 5px;
    font-size: 20px;
    /* font-family: "Caveat", cursive; */
    color: white;
}
.researchlink{
    padding: 5px;
}

#contForm{
    width: 100%;
    height: auto;
    /* background-color: rgb(1, 1, 15); */
    background-color: rgb(0, 0, 15);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.gmap{
    margin: 30px;
    width: 50%;
    height: 60vh;
}
.mp{
    width: 100%;
    height: 100%;
}
.contFormCOntainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 15);
}

.contformSpace{
    width: 50%;
    /* background-color: ; */
    /* background-color: rgb(1, 1, 15); */
    height:73vh;
    padding: 10px;
    /* margin: -10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-7{
    width: 70%;
    border: 2px solid orange;
    height: 30vh;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
}